body{
    background-image:url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
button{
background-color: #6f6f6f;
font-family: '仿宋';
color: #fff;
}
button:hover{
    border: 1px solid white;
}
#exit{
    position: absolute;
    top: 72vh;
    height: 5vh;
    right: 40vw;
    width: 9.5vw;
    border-radius: 3px;
    font-size: 3vh;
}
#playPauseBtn{
    position: absolute;
    top: 72vh;
    height: 5vh;
    left: 40vw;
    width: 9.5vw;
    border-radius: 3px;
    font-size: 3vh;
}
#begin {
    position: absolute;
    top: 65vh;
    height: 5vh;
    width: 20vw;
    border-radius: 3px;
    font-size: 3vh;
}
